.preview {
  height: 100%;
  min-height: 0;
  border-left: 1px solid var(--palette-1);
  padding-left: 0.625rem;
}

.preview-title {
  font-size: var(--text-lg);
  padding-bottom: 0.625rem;
}

.preview-inner {
  padding-right: 0.625rem;
}

.preview-inner > * + * {
  margin-top: 0.625rem;
}

.banner {
  position: relative;
}
