.unowned-title {
  display: flex;
  gap: 0.375rem;
}

.unowned-trigger {
  padding: 0.375rem 0.5rem;
  border-radius: var(--rounded);
  box-shadow: var(--shadow);
  border: 1px solid var(--palette-1);
  margin-top: 0.375rem;
}
